* {
    font-family: MS Gothic;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

p,
a {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    font-family: MS Gothic !important;
    margin: 0.8em 0;
    font-size: 20px;
    color: white;
}

.ghost,
.glitch {
    opacity: 0.25;
}

#message {
    position: absolute;
    height: 260px;
    width: 600px;
    left: 2%;
    top: 8%;
}

#animate {
    text-shadow: 0 0 8px rgba(209, 194, 165, 0.1);
    position: absolute;
    color: #ffffff;
    bottom: 0;
}

#container {
    background: black;
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#container:before {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
}

.cursor-pointer {
    cursor: pointer !important;
}