* {
    font-family: MS Gothic;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

p,
a {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    font-family: MS Gothic !important;
    margin: 0.8em 0;
    font-size: 20px;
    color: white;
}

.ghost,
.glitch {
    opacity: 0.25;
}

#message {
    position: absolute;
    height: 260px;
    width: 600px;
    left: 2%;
    top: 8%;
}

#animate {
    text-shadow: 0 0 8px rgba(209, 194, 165, 0.1);
    position: absolute;
    color: #ffffff;
    bottom: 0;
}

#container {
    background: black;
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#container:before {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
}

.cursor-pointer {
    cursor: pointer !important;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.cursor {
    display: inline-block;
    width: 10px;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        color: black;
    }
}

.linked-animation {
    color: #eee9e9;
    animation: rgbText 3s steps(9) 0s infinite alternate;
    animation-name: rgbText;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rgbText {
    0% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.5), 1px -1px 8px rgba(240, 240, 240, 0.5), 0px 0 1px rgba(220, 150, 220, 0.7), 0 0px 3px rgba(150, 200, 220, 0.7), 0px 0 3px rgba(150, 220, 180, 0.7), 0 0px 3px rgba(220, 150, 150, 0.7), 0px 0 3px rgba(150, 150, 220, 0.7);
    }
    25% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.5), 1px -1px 8px rgba(240, 240, 240, 0.5), 0px 0 1px rgba(220, 150, 220, 0.7), 0 0px 3px rgba(150, 200, 220, 0.7), 0px 0 3px rgba(150, 220, 180, 0.7), 0 0px 3px rgba(220, 150, 150, 0.7), 0px 0 3px rgba(150, 150, 220, 0.7);
    }
    45% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.5), 1px -1px 8px rgba(240, 240, 240, 0.5), 5px 0 1px rgba(220, 150, 220, 0.7), 0 5px 1px rgba(150, 200, 220, 0.7), -5px 0 1px rgba(150, 220, 180, 0.7), 0 -5px 1px rgba(220, 150, 150, 0.7), 5px 0 1px rgba(150, 150, 220, 0.7);
    }
    50% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.5), 1px -1px 8px rgba(240, 240, 240, 0.5), -5px 0 1px rgba(220, 150, 220, 0.7), 0 -5px 1px rgba(150, 200, 220, 0.7), 5px 0 1px rgba(150, 220, 180, 0.7), 0 5px 1px rgba(220, 150, 150, 0.7), -5px 0 1px rgba(150, 150, 220, 0.7);
    }
    55% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.5), 1px -1px 8px rgba(240, 240, 240, 0.5), 0px 0 3px rgba(220, 150, 220, 0.7), 0 0px 3px rgba(150, 200, 220, 0.7), 0px 0 3px rgba(150, 220, 180, 0.7), 0 0px 3px rgba(220, 150, 150, 0.7), 0px 0 3px rgba(150, 150, 220, 0.7);
    }
    90% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.5), 1px -1px 8px rgba(240, 240, 240, 0.5), -5px 0 1px rgba(220, 150, 220, 0.7), 0 5px 1px rgba(150, 200, 220, 0.7), 5px 0 1px rgba(150, 220, 180, 0.7), 0 -5px 1px rgba(220, 150, 150, 0.7), 5px 0 1px rgba(150, 150, 220, 0.7);
    }
    100% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.5), 1px -1px 8px rgba(240, 240, 240, 0.5), 5px 0 1px rgba(220, 150, 220, 0.7), 0 -5px 1px rgba(150, 200, 220, 0.7), -5px 0 1px rgba(150, 220, 180, 0.7), 0 5px 1px rgba(220, 150, 150, 0.7), -5px 0 1px rgba(150, 150, 220, 0.7);
    }
}