:root {
    --color-fondo-claro: #52295f !important;
    --color-texto-claro: #fff;
    --color-fondo-oscuro: #000;
    --color-texto-oscuro: #fff;
}

@font-face {
    font-family: 'p2';
    src: url(assets/PressStart2P-Regular.ttf);
}

* {
    box-sizing: border-box;
    cursor: default !important;
    /* font-family: MS Gothic; */
}

body {
    font-family: MS Gothic;
    color: #fff;
    font-size: 12px;
    max-width: 900px;
    margin: 20px auto;
    padding: 0px 10px;
    background: var(--color-fondo-oscuro);
}

.modo-oscuro {
    background-color: var(--color-fondo-claro);
    color: var(--color-texto-claro);
}


/* img {
    width: 100%;
    height: auto;
} */

.friends-container {
    height: 227px;
    overflow: auto;
}

.friends-image {
    display: flex;
    justify-content: flex-start;
}

.friends-image,
img {
    padding-bottom: 3px;
    padding-left: 4px;
}

.friends-container::-webkit-scrollbar {
    width: .5vw;
    background: var(--color-fondo-oscuro);
}

.friends-container::-webkit-scrollbar-thumb {
    background: linear-gradient(330deg, black 26%, white 43.1%, white 50%, white 56.9%, black 57%);
    border-radius: 10px;
    /* Radio de borde del thumb */
    /* background-color: #888; */
    /* Color del thumb */
}

.friends-image,
img {
    cursor: pointer !important;
}

a:link {
    color: #fff;
    animation: rgbText 1s steps(9) 0s infinite alternate;
    animation-name: rgbText;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

a:visited,
a:hover,
a:active {
    color: #fff;
    animation: rgbText 1s steps(9) 0s infinite alternate;
    animation-name: rgbText;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.linked-animation {
    color: #fff;
    animation: rgbText 1s steps(9) 0s infinite alternate;
    animation-name: rgbText;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

ul {
    list-style-type: square;
}

blockquote {
    padding: 5px 10px;
    border-left: 1px solid #fff;
}

.header {
    padding: 10px 15px;
    border: 1px solid #fff;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
}

.row {
    display: -webkit-flex;
    display: flex;
    border: 1px solid #fff;
    border-top: none;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
}

.column {
    padding: 15px 20px;
}

.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.icon-dark {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 100% 100% 0% 0%;
    background-image: url(assets/sadsa.gif);
    background-size: 100%;
    z-index: -1;
}

.icon-claro {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 100% 100% 0% 0%;
    background-image: url(assets/lovi.gif);
    background-size: 100%;
    z-index: -1;
}

.text {
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #fff;
}

.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.heading {
    padding: 8px 15px;
    border: 1px solid #fff;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
}

.heading::after {
    content: "[_][o][x]";
    float: right;
}

.inner {
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-top: none;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
}

.progress {
    margin-top: 8px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #fff;
}

.tags {
    margin-top: 8px;
    padding: 10px 15px;
    border: 1px solid #fff;
}

.sign {
    margin-top: 8px;
    padding: 10px 15px;
    border: 1px solid #fff;
    height: 281px;
    max-height: 300px;
}

.progress span {
    color: #000;
}

@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}


/* VHS EFFECT: https://web.archive.org/web/20220124071638/https://lolcow.crd.co/#vhs */

.noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 400;
    opacity: 0.8;
    pointer-events: none;
    opacity: 1;
    z-index: 450;
}

.noise:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("https://ice-creme.de/images/background-noise.png");
    pointer-events: none;
    will-change: background-position;
    animation: noise 1s infinite alternate;
}

.lines {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 300;
    opacity: 0.6;
    will-change: opacity;
    animation: opacity 3s linear infinite;
}

.lines:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient( to bottom, transparent 50%, rgba(0, 0, 0, 0.5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    animation: scanlines 0.2s linear infinite;
}

.main {}

.main .noise:before {
    background-size: 170%;
}

.main .vhs {
    position: absolute;
    left: 2rem;
    top: 2rem;
    will-change: text-shadow;
    animation: rgbText 2s steps(9) 0s infinite alternate;
}

.main .vhs .char {
    will-change: opacity;
    animation: type 1.2s infinite alternate;
    animation-delay: calc(60ms * var(--char-index));
}

.main .time {
    position: absolute;
    right: 2rem;
    top: 2rem;
    will-change: text-shadow;
    animation: rgbText 1s steps(9) 0s infinite alternate;
}

.main .glitchtext {
    will-change: text-shadow;
    animation: rgbText 1s steps(9) 0s infinite alternate;
}

@keyframes noise {
    0%,
    100% {
        background-position: 0 0;
    }
    10% {
        background-position: -5% -10%;
    }
    20% {
        background-position: -15% 5%;
    }
    30% {
        background-position: 7% -25%;
    }
    40% {
        background-position: 20% 25%;
    }
    50% {
        background-position: -25% 10%;
    }
    60% {
        background-position: 15% 5%;
    }
    70% {
        background-position: 0 15%;
    }
    80% {
        background-position: 25% 35%;
    }
    90% {
        background-position: -10% 10%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.6;
    }
    20% {
        opacity: 0.3;
    }
    35% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.8;
    }
    60% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes scanlines {
    from {
        background: linear-gradient( to bottom, transparent 50%, rgba(0, 0, 0, 0.5) 51%);
        background-size: 100% 4px;
    }
    to {
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5) 50%, transparent 51%);
        background-size: 100% 4px;
    }
}

@keyframes rgbText {
    0% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    25% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    45% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    50% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
    55% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    90% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    100% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
}

@keyframes type {
    0%,
    19% {
        opacity: 0;
    }
    20%,
    100% {
        opacity: 1;
    }
}

.rgbtxt {
    animation: rgbText 1s steps(9) 0s infinite alternate;
    animation-name: rgbText;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rgbText {
    0% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    25% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    45% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    50% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
    55% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    90% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    100% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
}

#demo {
    white-space: pre-wrap;
    line-height: 25px;
}

#contain {
    margin-top: 3rem;
    white-space: pre-wrap;
    line-height: 25px;
}


/* winamp */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}

.player {
    width: 100%;
    height: 260px;
    margin: 0;
    background-color: var(--color-fondo-oscuro);
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2), 0 33px 40px -40px rgba(0, 0, 0, 0.75);
}

.player .featureImg {
    display: block;
    width: 100%;
    height: 60%;
    background: no-repeat center center;
    background-size: 100% auto;
    border-radius: 15px 15px 0 0;
}

.player .controller {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 0 0 15px 15px;
}

.player .controller .duration {
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: rgba(204, 204, 204, 0.8);
    transition: 0.25s all ease-in-out;
}

.player .controller .duration:hover {
    cursor: pointer !important;
    height: 15px;
    top: -15px;
}

.player .controller .duration .currPos {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: #fff;
}

.player .controller .duration .currPos.animate {
    transition: 0.25s top ease-in-out, 0.25s bottom ease-in-out, 1s width linear;
}

.player .controller .timeLogs {
    width: 100%;
    font-size: 10px;
    padding: 5px 5px 0;
}

.player .controller .timeLogs:after {
    content: "";
    display: table;
    clear: both;
}

.player .controller .timeLogs .currTime {
    float: left;
}

.player .controller .timeLogs .totalDuration {
    float: right;
}

.player .controller .controls {
    padding: 10px 15px;
}

.player .controller .controls:after {
    content: "";
    display: table;
    clear: both;
}

.player .controller .controls .playPauseBtn {
    float: left;
    height: 45px;
    width: 45px;
    margin-right: 8px;
    background: url("assets/disc/FAyemkP.png");
    transition: 0.5s opacity ease-in-out;
}

.player .controller .controls .playPauseBtn:hover {
    cursor: pointer !important;
    opacity: 0.75;
}

.player .controller .controls .playPauseBtn.play {
    background-position: -3px -48px;
}

.player .controller .controls .playPauseBtn.pause {
    background-position: -3px -2px;
}

.player .controller .controls .titleArtist {
    float: left;
    height: 62px;
    width: 292px;
    overflow: hidden;
}

.cursor___pointer {
    cursor: pointer !important;
}

.player .controller .controls .titleArtist .title {
    font-size: 18px;
    line-height: 20px;
    height: 7px;
    color: #ffffff;
    white-space: nowrap;
}

.player .controller .controls .titleArtist .artist {
    font-size: 12px;
    height: 12px;
    color: #c5c9d3;
    white-space: nowrap;
}

.player .controller .controls .addtControls {
    float: right;
}

.player .controller .controls .addtControls div {
    float: right;
    width: 17px;
    height: 17px;
    background: url("assets/disc/FAyemkP.png");
}

.player .controller .controls .addtControls div:hover {
    cursor: pointer !important;
}

.player .controller .controls .addtControls .prev {
    background-position: -61px -6px;
    margin-left: 4px;
}

.player .controller .controls .addtControls .prev:hover {
    background-position: -61px -34px;
}

.player .controller .controls .addtControls .next {
    background-position: -91px -6px;
    margin-left: 4px;
}

.player .controller .controls .addtControls .next:hover {
    background-position: -91px -34px;
}

.player .controller .controls .addtControls .loop {
    background-position: -119px -6px;
}

.player .controller .controls .addtControls .loop.active {
    background-position: -119px -35px;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.fiends {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
}

.signature {
    /* text-align: justify; */
    overflow-y: auto;
    height: 166px;
    padding-right: 7px;
}

.friends,
.data {
    padding-left: 1rem;
}

.signature::-webkit-scrollbar {
    width: .5vw;
    background: black;
}

.signature::-webkit-scrollbar-thumb {
    background: linear-gradient(330deg, black 26%, white 43.1%, white 50%, white 56.9%, black 57%);
    border-radius: 10px;
    /* Radio de borde del thumb */
    /* background-color: #888; */
    /* Color del thumb */
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.special {
    /* text-align: justify; */
    overflow-y: auto;
    height: 166px;
    padding-right: 7px;
}

.special::-webkit-scrollbar {
    width: .5vw;
    background: black;
}

.special::-webkit-scrollbar-thumb {
    background: linear-gradient(330deg, black 26%, white 43.1%, white 50%, white 56.9%, black 57%);
    border-radius: 10px;
    /* Radio de borde del thumb */
    /* background-color: #888; */
    /* Color del thumb */
}

.special iframe {
    display: block;
    width: 100%;
    border: none;
}

.switch {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    font-size: 24px;
    cursor: pointer !important;
    margin-right: 10px;
}

.options-switch {
    text-align: end;
    margin-bottom: 1rem;
}


/*
Project:	Toggle Switchy
Version:	1.14
Updated:	8/20/2020
Author:		Adam Culpepper | @adamculpepper
Website:	https://toggleswitchy.com
Docs:		https://github.com/adamculpepper/toggle-switchy
Issues:		https://github.com/adamculpepper/toggle-switchy/issues
Releases:	https://github.com/adamculpepper/toggle-switchy/releases
*/


/* Customizable styles */


/* Colors: Default (blue) */

.toggle-switchy {
    color: #fff;
}

.toggle-switchy>input+.toggle:before {
    content: 'Emo';
}

.toggle-switchy>input+.toggle:after {
    content: 'Happy';
}

.toggle-switchy>input+.toggle>.switch {
    background: #fff;
}

.toggle-switchy>input+.toggle+.label {
    color: #000;
}

.toggle-switchy>input:checked+.toggle {
    background: #000;
}

.toggle-switchy>input:not(:checked)+.toggle {
    /* background-color: white; */
    background: #52295f;
}

.toggle-switchy>input:checked+.toggle>.switch {
    border: 3px solid #3498db;
}

.toggle-switchy>input:not(:checked)+.toggle>.switch {
    border: 3px solid #ccc;
}

.toggle-switchy>input:focus+.toggle,
.toggle-switchy>input:active+.toggle {
    box-shadow: 0 0 5px 3px rgba(0, 119, 200, 0.50);
}


/* Rounded switch corners */

.toggle-switchy>input+.toggle {
    border-radius: 4px;
}

.toggle-switchy>input+.toggle .switch {
    border-radius: 6px;
}


/* //////////////////////////
CORE STYLES BELOW - NO TOUCHY
////////////////////////// */

.toggle-switchy {
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: relative;
    vertical-align: middle;
    margin-bottom: 0;
}

.toggle-switchy:hover {
    cursor: pointer !important;
}

.toggle-switchy>input {
    position: absolute;
    opacity: 0;
}

.toggle-switchy>input+.toggle {
    align-items: center;
    position: relative;
}

.toggle-switchy>input+.toggle {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.toggle-switchy>input[disabled]+.toggle {
    opacity: 0.5;
}

.toggle-switchy>input[disabled]+.toggle:hover {
    cursor: not-allowed;
}

.toggle-switchy>input+.toggle {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer !important;
}

.toggle-switchy>input+.toggle>.switch {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 3;
    box-sizing: border-box;
}

.option-switch {
    text-align: end;
}


/* Labels */

.toggle-switchy>input+.toggle:before,
.toggle-switchy>input+.toggle:after {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    height: 100%;
}

.toggle-switchy>input+.toggle:before {
    right: 55%;
}

.toggle-switchy>input+.toggle:after {
    left: 50%;
}

.toggle-switchy>input+.toggle+.label {
    margin-left: 10px;
}

.toggle-switchy[data-label='left']>input+.toggle {
    order: 2;
}

.toggle-switchy[data-label='left']>input+.toggle+.label {
    order: 1;
    margin-left: 0;
    margin-right: 10px;
}


/* Show / Hide */

.toggle-switchy>input+.toggle:before {
    opacity: 0;
}

.toggle-switchy>input:checked+.toggle:before {
    opacity: 1;
}

.toggle-switchy>input:checked+.toggle:after {
    opacity: 0;
}


/* Transitions */

.toggle-switchy>input+.toggle {
    transition: background 200ms linear, box-shadow 200ms linear;
}

.toggle-switchy>input+.toggle:before,
.toggle-switchy>input+.toggle:after {
    transition: all 200ms linear;
}

.toggle-switchy>input+.toggle>.switch {
    transition: right 200ms linear, border-color 200ms linear;
}


/* //////////////////////////
CORE STYLES ABOVE - NO TOUCHY
////////////////////////// */


/* Size: Extra Large */

.toggle-switchy[data-size='xl']>input+.toggle {
    width: 85px;
    height: 40px;
}

.toggle-switchy[data-size='xl']>input+.toggle>.switch {
    width: 40px;
}

.toggle-switchy[data-size='xl']>input+.toggle:before,
.toggle-switchy[data-size='xl']>input+.toggle:after {
    font-size: 1.2rem;
}

.toggle-switchy[data-size='xl']>input:not(:checked)+.toggle>.switch {
    right: calc(100% - 40px);
}


/* Size: Large */

.toggle-switchy[data-size='lg']>input+.toggle {
    width: 75px;
    height: 35px;
}

.toggle-switchy[data-size='lg']>input+.toggle>.switch {
    width: 35px;
}

.toggle-switchy[data-size='lg']>input+.toggle:before,
.toggle-switchy[data-size='lg']>input+.toggle:after {
    font-size: 1rem;
}

.toggle-switchy[data-size='lg']>input:not(:checked)+.toggle>.switch {
    right: calc(100% - 35px);
}


/* Size: Default (Medium) */

.toggle-switchy>input+.toggle {
    width: 65px;
    height: 30px;
}

.toggle-switchy>input+.toggle>.switch {
    width: 30px;
}

.toggle-switchy>input+.toggle:before,
.toggle-switchy>input+.toggle:after {
    font-size: 0.8rem;
}

.toggle-switchy>input:not(:checked)+.toggle>.switch {
    right: calc(100% - 30px);
}


/* Size: Small */

.toggle-switchy[data-size='sm']>input+.toggle {
    width: 55px;
    height: 25px;
}

.toggle-switchy[data-size='sm']>input+.toggle>.switch {
    width: 25px;
}

.toggle-switchy[data-size='sm']>input+.toggle:before,
.toggle-switchy[data-size='sm']>input+.toggle:after {
    font-size: 0.7rem;
}

.toggle-switchy[data-size='sm']>input:not(:checked)+.toggle>.switch {
    right: calc(100% - 25px);
}


/* Size: Extra Small */

.toggle-switchy[data-size='xs']>input+.toggle {
    width: 45px;
    height: 20px;
}

.toggle-switchy[data-size='xs']>input+.toggle>.switch {
    width: 20px;
}

.toggle-switchy[data-size='xs']>input+.toggle:before,
.toggle-switchy[data-size='xs']>input+.toggle:after {
    font-size: 0.5rem;
}

.toggle-switchy[data-size='xs']>input:not(:checked)+.toggle>.switch {
    right: calc(100% - 20px);
}


/* Style: Rounded */

.toggle-switchy[data-style='rounded']>input+.toggle,
.toggle-switchy[data-style='rounded']>input+.toggle>.switch {
    border-radius: 50px;
}

.toggle-switchy[data-style='rounded']>input+.toggle:before {
    right: 50%;
}

.toggle-switchy[data-style='rounded']>input+.toggle:after {
    left: 50%;
}


/* Style: Square */

.toggle-switchy[data-style='square']>input+.toggle {
    border-radius: 0;
}

.toggle-switchy[data-style='square']>input+.toggle .switch {
    border-radius: 0;
}


/* Text: Off */

.toggle-switchy[data-text='false']>input+.toggle:before,
.toggle-switchy[data-text='false']>input+.toggle:after {
    content: '';
}

.toggle-switchy[data-text='false'][data-size='xl']>input+.toggle {
    width: 80px;
}

.toggle-switchy[data-text='false'][data-size='lg']>input+.toggle {
    width: 70px;
}

.toggle-switchy[data-text='false']>input+.toggle {
    width: 60px;
}

.toggle-switchy[data-text='false'][data-size='sm']>input+.toggle {
    width: 50px;
}

.toggle-switchy[data-text='false'][data-size='xs']>input+.toggle {
    width: 40px;
}


/* Color: Red */

.toggle-switchy[data-color='red']>input:checked+.toggle {
    background: #e74c3c;
}

.toggle-switchy[data-color='red']>input:checked+.toggle>.switch {
    border-color: #e74c3c;
}


/* Color: Orange */

.toggle-switchy[data-color='orange']>input:checked+.toggle {
    background: #e67e22;
}

.toggle-switchy[data-color='orange']>input:checked+.toggle>.switch {
    border-color: #e67e22;
}


/* Color: Yellow */

.toggle-switchy[data-color='yellow']>input:checked+.toggle {
    background: #f1c40f;
}

.toggle-switchy[data-color='yellow']>input:checked+.toggle>.switch {
    border-color: #f1c40f;
}


/* Color: Green */

.toggle-switchy[data-color='green']>input:checked+.toggle {
    background: #2ecc71;
}

.toggle-switchy[data-color='green']>input:checked+.toggle>.switch {
    border-color: #2ecc71;
}


/* Color: Blue */

.toggle-switchy[data-color='blue']>input:checked+.toggle {
    background: #3498db;
}

.toggle-switchy[data-color='blue']>input:checked+.toggle>.switch {
    border-color: #3498db;
}


/* Color: Purple */

.toggle-switchy[data-color='purple']>input:checked+.toggle {
    background: #9b59b6;
}

.toggle-switchy[data-color='purple']>input:checked+.toggle>.switch {
    border-color: #9b59b6;
}


/* Color: Gray */

.toggle-switchy[data-color='gray']>input:checked+.toggle {
    background: #555;
}

.toggle-switchy[data-color='gray']>input:checked+.toggle>.switch {
    border-color: #555;
}


/*new*/

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "p2" !important;
    width: 650px;
    margin: 0 auto;
}

#app .container {
    margin-top: 2em;
    margin-bottom: 2em;
    background: rgba(18, 18, 17, 0.9);
}

#app .container .icon-list i {
    margin-right: 40px;
    transform: scale(3);
}

#app .container .character-container {
    background: white;
    margin-top: 2em;
}

#app .container .character-container .char-length-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#app .container .character-container .char-length-wrapper label {
    margin-bottom: 0;
}

#app .container .character-container .char-length-wrapper .range-slider_wrapper {
    position: relative;
    width: 300px;
    margin: 17px 0 30px;
}

#app .container .character-container .char-length-wrapper .range-slider {
    -webkit-appearance: none;
    appearance: none;
    background: #48e3c0;
    width: 100%;
    border-radius: 8px;
    vertical-align: bottom;
    margin: 0;
    height: 12px;
    transition: all ease-in 0.25s;
}

#app .container .character-container .char-length-wrapper .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    position: relative;
    width: 42px;
    height: 42px;
    background-color: #179578;
    background: url("https://i.imgur.com/t0q8nDG.png");
}

#app .container .character-container .char-length-wrapper .range-slider::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    position: relative;
    width: 23px;
    height: 24px;
    background-color: #179578;
    background: url("https://www.w3schools.com/howto/contrasticon.png");
}

#app .container .character-container .char-length-wrapper .range-slider:focus {
    outline: none;
}

#app .container .character-container .char-length-wrapper .range-slider:hover::-webkit-slider-thumb,
#app .container .character-container .char-length-wrapper .range-slider:active::-webkit-slider-thumb {
    top: 0px;
}

#app .container .character-container .char-length-wrapper ::-moz-range-track {
    background: transparent;
    border: 0;
}

#app .container .character-container .char-length-wrapper input::-moz-focus-inner,
#app .container .character-container .char-length-wrapper input::-moz-focus-outer {
    border: 0;
}

#app .container .character-container .char-length-wrapper .slider-bar {
    position: absolute;
    height: 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #1AAB8A;
    left: 0;
    bottom: 0;
    pointer-events: none;
}

#app .container .character-container .char-length-wrapper .number-tip {
    width: 30px;
}

#app .container .pwd-length-setting-wrapper {
    background: silver url(https://www.toptal.com/designers/subtlepatterns/patterns/old_wall.png) fixed;
    background: rgba(14, 190, 255, 0.4);
}

#app .container .pwd-length-setting-wrapper .message-list {
    display: flex;
    flex-direction: column;
}

#app .container .pwd-length-setting-wrapper .message-list .message.-left {
    display: flex;
    align-self: flex-start;
}

#app .container .pwd-length-setting-wrapper .message-list .message.-left .pwd_length_field {
    width: 90px;
    margin-top: 1em;
}

#app .container .pwd-length-setting-wrapper .message-list .message.-left .nes-bcrikko {
    margin-right: 2em;
}

#app .container .pwd-length-setting-wrapper .message-list .message.-right {
    display: flex;
    align-self: flex-end;
}

#app .container .pwd-length-setting-wrapper .message-list .message.-right img {
    width: 68px;
    height: auto;
    margin-left: 2em;
}

#app .container .pwd-length-setting-wrapper .message-list .message.-right .pwd-strength-weak {
    color: red;
}

#app .container .pwd-length-setting-wrapper .message-list .message.-right .pwd-strength-better {
    color: blue;
}

#app .container .pwd-length-setting-wrapper .message-list .message.-right .pwd-strength-strong {
    color: #db7d3a;
}

#app .container .pwd-length-setting-wrapper .message-list .message.-right .pwd-strength-strongest {
    color: #378241;
}

#app .container .generate-pwd-container {
    background: white;
    margin-top: 2em;
}

#app .container .generate-pwd-container .btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 101%;
    margin-top: 1em;
}

.title-8bits {
    font-weight: bolder;
}

.coin-master {
    position: fixed;
    top: 77px;
    left: 0;
    cursor: pointer !important;
}